/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* 222831
393E46
00ADB5
EEEEEE */

body {
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.header{
  color: #00ADB5;
  display: flex;
  flex-direction: row-reverse;
}
.footer{
  color: #00ADB5;
  text-transform: none;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
}
i{
  margin: 1% 10%;
}
ul{
  padding: 1%;
  display: flex;
  flex-direction: row-reverse;
}
li{
  margin: 5px 15%;
}
li:hover{
  color: #EEEEEE;
}
a{
  color: inherit;
  text-decoration: inherit;
}
.content {
  background-color: #EEEEEE;
  border-top: #00ADB5 solid;
  padding: 1% 3%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.imageProfile{
  margin: 3%;
  width: 50%;
  height: 50%;
}

.aboutMe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: none;
  margin: 3%;
}
h1{
  font-size: 300%;
  margin: 2% 0%;
}
h2{
  font-size: 150%;
  margin: 2% 0%;
}
p{
  font-size: 100%;
  margin: 2% 0%;
  line-height: 180%;
}


@media (min-width: 800px){
  .content {
    flex-direction: row;
    padding: 0% 0%;
  }
  h1{
    font-size: 500%;
    margin: 2% 0%;
  }
  h2{
    font-size: 200%;
    margin: 2% 0%;
  }
  p{
    font-size: 100%;
    margin: 2% 0%;
    line-height: 220%;
  }
  .footer{
    flex-direction: row;
  }
}